@model PruebaYeisonLlanes.Models.Operadores

@{
    ViewData["Title"] = "Editar Operadores";
}

<h1>Editar</h1>

<h4>Operadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdOperador" />
            <div class="form-group">
                <label asp-for="Operador" class="control-label"></label>
                <input asp-for="Operador" class="form-control" />
                <span asp-validation-for="Operador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPrioridad" class="control-label"></label>
                <select asp-for="IdPrioridad" class="form-control" asp-items="ViewBag.IdPrioridad"></select>
                <span asp-validation-for="IdPrioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUbicacion" class="control-label"></label>
                <select asp-for="IdUbicacion" class="form-control" asp-items="ViewBag.IdUbicacion"></select>
                <span asp-validation-for="IdUbicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
